a.currency {
text-decoration: none;
}
.currency.selected {
font-weight: bold;
font-size: 150%;
}
body {
  background-image: url("/img/background.png");
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
